#container {
    width: 45%;
    margin: auto;
}

#wallpaper {
    height: 20vh;
}

.line {
    position: relative;
    border: 1px solid grey;
    margin-bottom: 10vh;
}

#profile {
    background-image: url("./anteater.png");
    background-position: center center;
    background-size: cover;
    width: 20vh;
    height: 20vh;
    border: solid black 1px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10vh;
    margin-top: -10vh;
}

#name-row {
    font: 4vh Arial;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#name {
    width: 100%;
    text-align: center;
}

#info {
    font: 2vh Arial;
    border: 1px dashed black;
    margin-top: 2.5vh;
    padding: 1.5vh;
    border-radius: 10px;
}

#preferences {
    font: 2vh Arial;
    border: 1px dashed black;
    margin-top: 2.5vh;
    padding: 1.5vh;
    border-radius: 10px;
}

.tag {
    margin-top: 1vh;
    margin-right: 1vw;
}

.sep {
    margin-bottom: 1vh;
}